<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Magazine</title>
</head>
<body>
    <h1>Lista de Magazine</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Magazin</th>
                <th>Retea</th>
        </thead>
        <tbody>
            {% for magazin in magazine %}
            <tr>
                <td>{{ magazin.magazin }}</td>
                <td>{{ magazin.retea }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>