<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Produse</title>
</head>
<body>
    <h1>Lista de Produse</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Denumire</th>
                <th>Garanție (luni)</th>
                <th>Data Lansării</th>
                <th>Descriere</th>
                <th>Categorie</th>
            </tr>
        </thead>
        <tbody>
            {% for produs in produse %}
            <tr>
                <td>{{ produs.denumire }}</td>
                <td>{{ produs.garantie_luni }}</td>
                <td>{{ produs.lansat }}</td>
                <td>{{ produs.descriere }}</td>
                <td>{{ produs.categ.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

